$background-root-dark : #000;
$background-root-light : #fff; 
$home-background-dark : #131c21;
$nav-background-dark : rgb(42,47,50);
$message-input-color : rgb(51, 56, 59);
$teal-green-light : #00bfa5;
$teal-green-dark : #075E54;
$light-green : #25D366;
$blue : #34B7F1;
$border-dark : #30383d;
$nav-icons-color : rgb(177, 179, 181);
$dropdown-hover-dark : #212121;
$profile-settings-text : rgb(225, 225, 227);
$setting-background-dark : rgb(33, 55, 63);