@import '../../../scss/variables';
@import '../../../scss/mixins';

.chat_messages_container {
    position: absolute;
    top : 60px;
    bottom : 62px;
    width : 100%;
    overflow: auto;
    padding : 15px;
}

.chat_message_container {
    background: $setting-background-dark;
    color : white;
    margin-top : 10px;
    margin-bottom : 20px;
    padding : 10px;
    max-width: 80%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top : 0;
    }
}

.chat_name_container {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: $teal-green-light;
}   

.left {
    border-radius: 0 10px 10px 10px;
    align-self: flex-start;
    &::before {
        right : 100%;
        border-bottom: 6px solid transparent;
        border-right: 8px solid $setting-background-dark;
    }
}

.right {
    border-radius: 10px 0px 10px 10px;
    align-self: flex-end;
    &::before {
        left : 100%;
        border-bottom: 6px solid transparent;
        border-left: 8px solid $setting-background-dark;
    }
}