@import '../../../scss/variables';
@import '../../../scss/mixins';

.chat_dropdown_container {
    width : 60%;
    position: absolute;
    top : 60px;
    right : 10px;
    transform-origin: top right;
    z-index : 50;
    
    transition: all 0.2s ease-in-out;
}

.chat_dropdown_item {
    background-color: $nav-background-dark;
    color : $nav-icons-color;
    cursor : pointer;

    &:hover {
        background-color : $dropdown-hover-dark;
    }
}

.close {
    transform: scale(0,0);
}

.open {
    transform: scale(1,1);
}