@import '../../../scss/variables';
@import '../../../scss/mixins';

.chats_nav {
    background-color : $nav-background-dark;
    border-right: 2px solid $border-dark;
    border-bottom: 1px solid $border-dark;
    height : 60px;
    width : 100%;
}

.chats_nav_list {
    list-style : none;
}

.chats_nav_list_item {
    width : 40px;
    &:hover {
        cursor : pointer;
    }
}

.chats_nav_list_item_new_chat {
    margin-left : auto;
}

.chats_nav_list_item_profile {
    width : 50%;
}

.chats_nav_list_item_profile_picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}