@import '../../../scss/variables';
@import '../../../scss/mixins';

.profile_nav_container {
    width : 100%;
    height : 108px;
    background-color: $nav-background-dark;
    border-right: 2px solid $border-dark;
    border-bottom: 1px solid $border-dark;
}

.profile_nav_items_container {
    height : 60px;
    width : 80%;
    color : $profile-settings-text;
}

.profile_nav_item_back {
    background : transparent;
    border : 0;
    outline : 0;
}

.profile_nav_item_profile {
    font-size : 1.2rem;
}